.CenterWrap{
    width: 48vw;
    height: 26vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/centerBg.svg);
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 80%;
    
}
