.Map {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    position: relative;
    height: 100vh;
    /* padding-bottom: 2vw; */
}

.Board {

    /* padding-top: 2vw; */
}

.Map_left {
    margin-bottom: 3vw;
}

.InfoCard {
    /* padding-top: 2vw; */

}

@media screen and (max-width: 1500px) {
    .Map {
        padding-bottom: 5vw;
    }

    .Board {
        gap: 2vw;
    }

    .InfoCard_wrap {
        width: 20vw;
    }

    .YutnoriBtn {
        width: 20vw;
    }
}

@media screen  and (max-width: 1024px) {
    .Map {
        flex-direction: column;
        padding-bottom: 0;
        height: calc(100vh - 100px);
        gap: 3vw;
    }

    .Board {
        order: 2;
    }

    .Map_left {
        display: flex;
        gap: 1.5vw;
        align-items: center;
        margin-bottom: 0;
    }

    .spring,
    .fins {
        display: none;
    }

    .InfoCard {
        padding-top: 0;
    }

    .InfoCard_wrap {
        width: 70vw;
        height: 20vw;
        justify-content: center;
        /* padding: 2vw 0.5vw; */
        border-radius: 1.5vw;
        gap: 2vw;
    }

    .InfoCard .InfoCard_top {
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
    }

    .InfoCard .InfoCard_top .p3 {
        font-family: "Noto sans kr";
        font-size: 1.2rem;
        text-align: right;
    }

    .InfoCard i {
        margin-right: 1vw;
    }

    .InfoCard .p2 {
        margin-left: 0;
    }

    .InfoCard .time small {
        margin-left: 0;
    }

    .InfoCard .InfoCard_contents {
        width: 100%;
        flex-direction: row;
        gap: 0;
        justify-content: space-around;
    }

    .InfoCard_contents .transport p:nth-child(4),
    .InfoCard_contents .transport p:nth-child(5),
    .InfoCard_contents .transport p:nth-child(6) {
        display: none;
    }

    .ticket small {
        margin-left: 0;
    }

    .YutnoriBtn {
        flex-direction: column;
        width: 20vw;
        height: 20vw;
        align-items: center;
        margin-top: 0;
        gap: 1vw;
        border-radius: 2.2vw;
        background-size: 18%, 15%;
    }

    .YutnoriBtn .h2 {
        font-size: 2rem;
        margin-bottom: 5%;
    }

    .YutnoriBtn img {
        width: 10vw;
        height: 9vw;
        order: -1;
        margin-right: 5%;
    }

    .YutnoriBtn span br {
        display: none;
    }

    .YutnoriBtn.on .event-text {
        padding-top: 0;
        margin-bottom: 1vw;
    }

    .InfoCard.eventMode .InfoCard_top {
        justify-content: center;
    }

    .InfoCard.eventMode p {
        margin-bottom: 0;
    }

    .InfoCard.eventMode .p2 {
        line-height: 160%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 820px) {

    .InfoCard_wrap {
        width: 70vw;
        height: 23vw;
        justify-content: center;
        /* padding: 2vw 0.5vw; */
        border-radius: 1.5vw;
    }

    .YutnoriBtn {
        height: 23vw;
    }


}

@media screen and (max-width: 430px) {
    .Map {
        gap: 30vw;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 20%;
        /* overflow: hidden; */
    }
    .Board{
        position: absolute;
        bottom: 15%;
    }
}