.Map {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    position: relative;
    height: 100vh;
    /* padding-bottom: 2vw; */
}


.Map_left {
    margin-bottom: 3vw;
}


@media screen and (max-width: 1500px) {
    .Map {
        padding-bottom: 5vw;
    }

    .Board {
        gap: 2vw;
    }

    .InfoCard_wrap {
        width: 20vw;
    }

    .YutnoriBtn {
        width: 20vw;
    }
}

@media screen and (max-width: 1024px) {
    .Map {
        flex-direction: column;
        padding-bottom: 0;
        height: calc(100vh - 100px);
        gap: 3vw;
    }

    .Board {
        order: 2;
    }

    .Map_left {
        display: flex;
        gap: 1.5vw;
        align-items: center;
        margin-bottom: 0;
    }

    .spring,
    .fins {
        display: none;
    }

    .InfoCard {
        padding-top: 0;
    }

    .InfoCard_wrap {
        width: 70vw;
        height: 20vw;
        justify-content: center;
        /* padding: 2vw 0.5vw; */
        border-radius: 1.5vw;
        gap: 2vw;
    }

    .InfoCard .InfoCard_top {
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
    }

    .InfoCard .InfoCard_top .p3 {
        font-family: "Noto sans kr";
        font-size: 1.2rem;
        text-align: right;
    }

    .InfoCard i {
        margin-right: 1vw;
    }

    .InfoCard .p2 {
        margin-left: 0;
    }

    .InfoCard .time small {
        margin-left: 0;
    }

    .InfoCard .InfoCard_contents {
        width: 100%;
        flex-direction: row;
        gap: 0;
        justify-content: space-around;
    }

    .InfoCard_contents .transport p:nth-child(4),
    .InfoCard_contents .transport p:nth-child(5),
    .InfoCard_contents .transport p:nth-child(6) {
        display: none;
    }

    .ticket small {
        margin-left: 0;
    }

    .YutnoriBtn {
        flex-direction: column;
        width: 20vw;
        height: 20vw;
        align-items: center;
        margin-top: 0;
        gap: 1vw;
        border-radius: 2.2vw;
        background-size: 18%, 15%;
    }

    .YutnoriBtn .h2 {
        font-size: 2rem;
        margin-bottom: 5%;
    }

    .YutnoriBtn img {
        width: 10vw;
        height: 9vw;
        order: -1;
        margin-right: 5%;
    }

    .YutnoriBtn span br {
        display: none;
    }

    .YutnoriBtn.on .event-text {
        padding-top: 0;
        margin-bottom: 1vw;
    }

    .InfoCard.eventMode .InfoCard_top {
        justify-content: center;
    }

    .InfoCard.eventMode p {
        margin-bottom: 0;
    }

    .InfoCard.eventMode .p2 {
        line-height: 160%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 820px) {

    .InfoCard_wrap {
        width: 70vw;
        height: 23vw;
        justify-content: center;
        /* padding: 2vw 0.5vw; */
        border-radius: 1.5vw;
    }

    .YutnoriBtn {
        height: 23vw;
    }


}

@media screen and (max-width: 430px) {
    .Map {
        height: 100vh;
        /* gap: 3vw; */
    }

    .Map .Map_left {
        gap: 4vw;
    }

    .InfoCard_wrap {
        width: 48vw;
        height: 25vw;
        gap: 1vw;
        border-radius: 2.2vw;
    }

    .InfoCard .InfoCard_top {
        flex-direction: column;
    }

    .InfoCard .InfoCard_top .p3 {
        text-align: center;
    }

    .InfoCard .InfoCard_contents {
        display: none;
    }

    .YutnoriBtn {
        width: 34vw;
        height: 25vw;
        border-radius: 3vw;
        background-size: 16%, 12%;
    }

    .YutnoriBtn .h2 {
        font-size: 1.8rem;
    }

    .YutnoriBtn.on {
        gap: 0.5vw;
    }

    .YutnoriBtn.on .event-text {
        gap: 0;
    }

    .InfoCard.eventMode .InfoCard_contents {
        display: flex;
    }

    .InfoCard.eventMode .InfoCard_contents .play,
    .InfoCard.eventMode .InfoCard_contents .ticket,
    .InfoCard.eventMode .InfoCard_contents .move h3 {
        display: none;
    }

    .InfoCard .p2 {
        line-height: 150% !important;
    }

    .move {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .move .p2 {
        width: 100%;
    }

    .move .p2 p {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 375px) {
    .Map {
        padding-top: 13vw;
        gap: 2vw;
    }

    .Board {
        gap: 1.5vw;
    }

    .tile_wrap {
        width: 84vw;
        height: 110vw;
    }

    .InfoCard_wrap {
        /* height: 24vw; */
    }

    .YutnoriBtn {
        /* height: 24vw; */
    }

    .InfoCard .InfoCard_top .p3 {
        font-size: 13px;
    }

    .InfoCard.eventMode .p2 {
        line-height: 130% !important;
        font-size: 13px !important;
    }

    .event-text .click-label {
        font-size: 17px;
    }

    .event-text .chance {
        font-size: 14px;
    }
}

@media screen and (max-width: 932px) and (orientation: landscape) {
    .Map {
        flex-direction: row;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        padding-left: 3vw;
    }

    .Map_left {
        position: absolute;
        top: 5%;
        right: 8%;
        flex-direction: column;
        z-index: 100;
    }

    .Board {
        flex-direction: row;
        align-items: end;
        gap: 5vw;
    }

    .InfoCard_wrap {
        width: 23vw;
        height: 15vw;
        gap: 1vw;
        border-radius: 2.2vw;
    }

    .InfoCard .InfoCard_top {
        flex-direction: column;
    }

    .InfoCard .InfoCard_top .p3 {
        text-align: center;
    }

    .InfoCard.eventMode .InfoCard_contents {
        display: flex;
    }

    .InfoCard .InfoCard_contents {
        display: none;
    }

    .InfoCard.eventMode .InfoCard_contents .play,
    .InfoCard.eventMode .InfoCard_contents .ticket,
    .InfoCard.eventMode .InfoCard_contents .move h3 {
        display: none;
    }

    .YutnoriBtn {
        width: 23vw;
        height: 15vw;
        background-size: 16%, 12%;
    }

    .YutnoriBtn img {
        width: 8vw;
        height: 7vw;
    }

    .InfoCard .InfoCard_top .p3 {
        font-size: 14px;
    }

}

@media screen and (max-width: 667px) and (orientation: landscape) {
    .Map_left {
        top: 16%;
        right: 2.5%;
    }

    .InfoCard_wrap,
    .YutnoriBtn {
        width: 25vw;
        height: 16vw;
    }

    .YutnoriBtn {
        gap: 0.2vw;
        background-size: 15%, 12%;
    }

    .InfoCard h2 {
        font-size: 2rem;
    }

    .YutnoriBtn .h2 {
        font-size: 1.8rem;
        margin-bottom: 7%;
    }

    .YutnoriBtn.on {
        gap: 0.5vw;
    }

    .InfoCard .InfoCard_top .p3 {
        font-size: 13px;
    }

    .InfoCard.eventMode .p2 {
        line-height: 130% !important;
        font-size: 13px !important;
    }

    .MapCGgung .InfoCard .InfoCard_top .p3 {
        font-size: 12px;
    }

    .event-text {
        gap: 0 !important;
    }

    .event-text .click-label {
        font-size: 17px;
    }

    .event-text .chance {
        font-size: 14px;
    }

    .move {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .move .p2 p {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}