.MovingBtn{
    display: flex;
    justify-content: space-between;
    width: 12vw;
    height:5vw;
}
.MovingBtn button{
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
button img{
    width: 80%;
}
button.left img{
    width: 100%;
}
button.right img{
    width: 100%;
}