.MovingBtn {
    display: flex;
    justify-content: space-between;
    width: 13vw;
    height: 6vw;
    gap: 3vw;
}

.MovingBtn button {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: relative;
}

.MovingBtn button img {
    width: 4vw;
    height: auto;
}

.MovingBtn button img.front {
    z-index: 3;
    transition: .3s;
    position: relative;
}

.MovingBtn button img.back {
    position: absolute;
    transform: translateY(1%);
}

.MovingBtn button:hover img.front,
.MovingBtn button:active img.front {
    opacity: 0;
}

@media screen and (max-width: 1024px) {
    .MovingBtn {
        width: 20vw;
        height: 9vw;
        gap: 5vw;
    }

    .MovingBtn button img {
        width: 6vw;
    }
}

@media screen and (min-width: 360px) and (max-width: 430px) {
    .MovingBtn {
        width: 40vw;
        height: 18vw;
    }

    .MovingBtn button img {
        width: 12vw;
    }
}