.YutnoriBtn {
    width: 18vw;
    height: 8.85vw;
    background-image: url(../img/Ybtn_bg2.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 95%;
    display: flex;
    justify-content: center;
    gap: 0.2vw;
    padding-top: 1.5vw;
    margin-top: 0.6vw;
    border-radius: 1.5vw;
    border: 0.2vw solid #372A26;
    background-color: #F5D08C;
    color:#372A26;
}

.YutnoriBtn span {
    display: block;
}

.YutnoriBtn img {
    display: block;
    width: 6.2vw;
    height: 5.6vw;
}
.YutnoriBtn.on{
    gap: 1vw;
    padding-left: 1vw;
}
.YutnoriBtn.on .event-text{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    padding-top: 1vw;
}
