.TextBox {
    z-index: 99999;
}

/* 텍스트박스들 라인하이트 조절 */
.TextBox p {
    line-height: 160%;
    white-space: nowrap;
}

.GungInfoWrapper {
    height: 100vh;
    overflow: hidden;
    background: #f6ebd3 url('../img/info_bg.png') center/cover no-repeat fixed;
    position: relative;
}

.GungHeader {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-inline: 2vw;
    padding-top: 2vw;
    z-index: 999;
}

.GungInfo {
    display: flex;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

.GungInfo section {
    flex: none;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}


.TextBox h2 {
    padding-bottom: 5%;
}

.hanja {
    font-family: "Gapyeong Hanseokbong";
    font-size: 1.3rem;
    font-weight: 500;

}

.kr {
    margin-top: 8%;
    font-family: "Gapyeong Hanseokbong";
    font-size: 1.3rem;
    font-weight: 700;

}

img.guide {
    scale: 0.9;
}

/* first */



.FirstSec {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.FirstSec .first_img {
    width: 40vw;
    transition: 1.1s;
    display: inline-block;
}
.swiper-slide-active .FirstSec .first_img {

}
.FirstSec .first_img img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.FirstSec h2 {
    margin-top: 2%;
}

/* second */


.SecondSec {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

.SecondSec .guidetext {
    width: 100%;
    display: flex;
    height: 12%;
    align-items: center;
    justify-content: center;
    gap: 2%;
    transition: 1s;
    transform: translateY(-10px);
}

.swiper-slide-active .SecondSec .guidetext {
    transform: translateY(0);
}

.SecondSec .guidetext img.guide {
    height: 80%;
}

.SecondSec .text p {
    font-family: 'MaruBuri';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.SecondSec .text p strong {
    font-family: 'MaruBuriBold';
}

.SecondSec img.first {
    margin-top: 2%;
    border-radius: 30px;
    width: 75vw;
    height: 27vw;
    object-fit: cover;
    transform: translateY(10px);
    transition: 1.1s;
    display: inline-block;
}

.swiper-slide-active .SecondSec img.first {
    transform: translateY(0px);
}

/* third */

.ThirdSec {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2%;
    position: relative;
}

.ThirdSec img.guide {
    width: 8vw;
    height: auto;
    position: absolute;
    left: 35%;
    bottom: 18%;
}

.ThirdSec .position {
    display: flex;
    gap: 3%;
}

.ThirdSec img.first {
    border-radius: 30px;
    margin-left: 12%;
    width: 20vw;
    height: 32vw;
    object-fit: cover;
    opacity: 0;
}
.swiper-slide-active .ThirdSec img.first {
    opacity: 1;
    transition: 1s;
}
.swiper-slide-active .ThirdSec img.sec {
    opacity: 1;
    transition: 2s;
}
.ThirdSec img.sec {
    position: absolute;
    right: 15%;
    top: -10%;
    border-radius: 50%;
    width: 22vw;
    height: 20vw;
    object-fit: cover;
    opacity: 0;

}
.swiper-slide-active .ThirdSec img.third {
    opacity: 1;
    transition: 3s;
}
.ThirdSec img.third {
    position: absolute;
    right: 10%;
    bottom: 12%;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    opacity: 0;
}

.ThirdSec .TextBox {
    margin-top: 4%;
}

/* fourth */

.FourthSec {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 2%;
}

.FourthSec img.guide {
    width: 8vw;
    height: auto;
    position: absolute;
    right: 33%;
    bottom: 22%;
    transform: scaleX(-1);
}

.FourthSec .TextBox {
    margin-top: 3%;
}

.FourthSec .position {
    display: flex;
    gap: 3%;
}
.swiper-slide-active .FourthSec .left_img {
    scale: 1;
    transition: 1s;
} 
.FourthSec .left_img {
    position: relative;
    scale: 0.7;

}

.FourthSec .left_img img.first {
    border-radius: 30px;
    width: 18vw;
    height: 24vw;
    object-fit: cover;
}

.FourthSec .left_img img.sec {
    position: absolute;
    right: -20%;
    bottom: 0;
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    object-fit: cover;
}
.swiper-slide-active .FourthSec .right_img {
    scale: 1;
    transition: 2s;
}
.FourthSec .right_img {
    position: relative;
    margin-top: 8%;
    margin-left: 5%;
    scale: 0.5;
}

.FourthSec .right_img img.third {
    width: 18vw;
    height: 24vw;
    object-fit: cover;
    border-radius: 30px;
}

.FourthSec .right_img img.fourth {
    position: absolute;
    left: -30%;
    top: -38%;
    border-radius: 50%;
    width: 14vw;
    height: 14vw;
    object-fit: cover;
}


/* fifth */

.FifthSec {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.FifthSec img.guide {
    width: 8vw;
    height: auto;
    position: absolute;
    left: 35%;
    bottom: 18%;
}

.FifthSec .TextBox {
    margin-top: 6%;
}

.FifthSec .position {
    margin-top: 2%;
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: center;
}
.swiper-slide-active .FifthSec .left_img {
    opacity: 1;
    transition: 2s;
}
.FifthSec .left_img {
    position: relative;
    margin-top: 6%;
    opacity: 0;

}

.FifthSec .left_img img.first {
    border-radius: 30px;
    width: 18vw;
    height: 24vw;
    object-fit: cover;
}

.FifthSec .left_img img.sec {
    position: absolute;
    right: -20%;
    top: -30%;
    border-radius: 50%;
    width: 14vw;
    height: 14vw;
    object-fit: cover;
}
.swiper-slide-active .FifthSec .right_img {
    opacity: 1;
    transition: 3.5s;
}
.FifthSec .right_img {
    position: relative;
    margin-left: 5%;
    opacity: 0;

}

.FifthSec .right_img img.third {
    border-radius: 30px;
    width: 18vw;
    height: 24vw;
    object-fit: cover;
}

.FifthSec .right_img img.fourth {
    position: absolute;
    left: -30%;
    bottom: 0;
    border-radius: 50%;
    width: 14vw;
    height: 14vw;
    object-fit: cover;
}

/* sixth */

.SixSec {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.SixSec img.guide {
    width: 8vw;
    height: auto;
    position: absolute;
    right: 35%;
    bottom: 18%;
    transform: scaleX(-1);
}

.SixSec .position {
    display: flex;
    gap: 5%;
    margin-top: 12%;
    margin-left: 8%;
}
.swiper-slide-active .SixSec img.first {
    scale: 1;
    transition: 2s;
}
.SixSec img.first {
    border-radius: 30px;
    width: 28vw;
    height: 20vw;
    object-fit: cover;
    scale: 0.7;

}
.swiper-slide-active .SixSec img.sec {
    scale: 1;
    transition: 3s;
}
.SixSec img.sec {
    position: absolute;
    right: 15%;
    top: -10%;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    scale: 0;



}
.swiper-slide-active .SixSec img.third {
    scale: 1;
    transition: 2.5s;
}
.SixSec img.third {
    position: absolute;
    right: 10%;
    bottom: 12%;
    border-radius: 30px;
    width: 20vw;
    height: 18vw;
    object-fit: cover;
    scale: 0.4;

}

.SixSec .TextBox {
    padding-top: 4%;
}

/* seventh */

.SevenSec {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    position: relative;
}

.SevenSec img.guide {
    width: 8vw;
    height: auto;
    position: absolute;
    right: 10%;
    bottom: 18%;
    transform: scaleX(-1);
}
.swiper-slide-active .SevenSec img.first {
    opacity: 1;
    transition: 2s;
}

.SevenSec img.first {
    border-radius: 30px;
    width: 32vw;
    height: 20vw;
    object-fit: cover;
    opacity: 0;
}


.SevenSec .TextBox {
    margin-bottom: 0%;
}

/* last */

.LastSec {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.swiper-slide-active .LastSec img{
    transform: scaleX(1);
    transition: 2s;
}
.LastSec img{
    transform: scaleX(-1);
    
}
.LastSec h2 {
    text-align: center;
}

.LastSec p {
    text-align: center;
    font-family: "Gapyeong Hanseokbong";
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 120%;
}

.LastSec p strong {
    font-weight: 700;
}

.scroll-hint {
    position: fixed;
    right: 2%;
    bottom: 2%;
    font-size: 1.5rem !important;
}


.GungInfo {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* 이거 꼭 있어야 돼 */
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100vw;
    height: 100vh;
}

.swiper-pagination {
    bottom: 3% !important;
}

.swiper-pagination-bullet {
    background: #000;
    opacity: 0.5;
    transition: 0.3s;
    width: 12px !important;
    height: 12px !important;
    background-color: #ffa920 !important;
    /* orange-300 */
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #000;
}

.swiper-pagination {
    display: block !important;
    opacity: 1 !important;
    z-index: 1000;
}

.swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1000;
}

/* GungInfo.css에 추가하거나 수정 */
.swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1000;
}

.GungInfoWrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.GungInfo {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* pagination 위치 기준용 */
}

.swiper-slide {
    width: 100vw;
    height: 100vh;
}

.swiper-pagination {
    z-index: 9999 !important;
    /* GungHeader보다 위로 */
}

.swiper-pagination {
    display: block !important;
    opacity: 1 !important;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9999;
    pointer-events: auto;
    /* ← 이것도 추가하면 좋음 */
}

/* 반응형 태블릿 */

@media screen and (max-width:1024px) {

    /* first */
    .FirstSec .first_img {
        width: 80vw;
        height: auto;
    }

    .FirstSec h2 {
        font-size: 3.5rem;
    }

    /* second */
    .SecondSec .guidetext {
        width: 95%;
        display: flex;
        gap: 2%;
    }

    .SecondSec .guidetext p {
        font-size: 1.6rem;
        width: 95%;
    }

    .SecondSec img.first {
        margin-top: 6%;
        border-radius: 30px;
        width: 90vw;
        height: 40vw;
        object-fit: cover;
    }

    /* third */

    .ThirdSec img.first {
        margin-top: 10%;
        margin-left: 10%;
        width: 80%;
        height: 40vw;
        object-fit: cover;
    }

    .ThirdSec .position {
        margin-bottom: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ThirdSec img.sec {
        position: absolute;
        left: 5%;
        top: 8%;
        border-radius: 50%;
        width: 26vw;
        height: 26vw;
        object-fit: cover;
        display: none;
    }

    .ThirdSec img.third {
        position: absolute;
        right: 3%;
        bottom: 8%;
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        display: none;

    }

    .ThirdSec img.guide {
        margin-bottom: -8%;
        margin-left: -28%;
        width: 15vw;
        height: auto;
        object-fit: cover;
    }

    .ThirdSec .TextBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ThirdSec .TextBox h2 {
        font-size: 4rem;
    }

    .ThirdSec .TextBox p.p {
        width: 90%;
        font-size: 2rem;
        text-align: center;
    }

    /* fourth */
    .FourthSec {
        padding-bottom: 5%;
    }

    .FourthSec img.guide {
        position: absolute;
        right: 10%;
        bottom: 13%;
        width: 12vw;
        height: auto;
    }

    .FourthSec .TextBox {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .FourthSec .TextBox h2 {
        font-size: 3.5rem;
    }

    .FourthSec .TextBox p {
        font-size: 2rem;
        text-align: center;
    }

    .FourthSec .position {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6%;

    }

    .FourthSec .left_img {
        position: relative;

    }

    .FourthSec .left_img img.first {
        border-radius: 30px;
        width: 80vw;
        height: 45vw;
        object-fit: cover;

    }

    .FourthSec .left_img img.sec {
        position: absolute;
        right: -18%;
        bottom: -3%;
        border-radius: 50%;
        width: 18vw;
        height: 18vw;
        object-fit: cover;
        display: none;
    }

    .FourthSec .right_img {
        display: none;
        position: relative;
        margin-top: 8%;
        margin-left: 5%;
    }

    .FourthSec .right_img img.third {
        border-radius: 30px;
        width: 20vw;
        height: 28vw;
        object-fit: cover;
    }

    .FourthSec .right_img img.fourth {
        position: absolute;
        left: -30%;
        top: -38%;
        border-radius: 50%;
        width: 14vw;
        height: 14vw;
        object-fit: cover;
        margin-top: 10%;
    }

    /* fifth */


    .FifthSec img.guide {
        position: absolute;
        left: 12%;
        bottom: 18%;
        width: 16vw;
    }

    .FifthSec .TextBox {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .FifthSec .TextBox h2 {
        font-size: 4rem;
    }

    .FifthSec .TextBox p {
        font-size: 2rem;
        text-align: center;
    }

    .FifthSec .position {
        margin-top: -20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5%;
        justify-content: center;
        align-items: center;
    }

    .FifthSec .left_img {
        position: relative;
        margin-top: 6%;
    }

    .FifthSec .left_img img.first {
        border-radius: 30px;
        width: 80vw;
        height: 40vw;
        object-fit: cover;
    }

    .FifthSec .left_img img.sec {
        position: absolute;
        right: -8%;
        top: -20%;
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        display: none;

    }

    .FifthSec .right_img {
        display: none;
        position: relative;
        margin-left: 5%;
    }

    .FifthSec .right_img img.third {
        border-radius: 30px;
        width: 20vw;
        height: 24vw;
        object-fit: cover;
    }

    .FifthSec .right_img img.fourth {
        position: absolute;
        left: -30%;
        bottom: 0;
        border-radius: 50%;
        width: 14vw;
        height: 14vw;
        object-fit: cover;
    }

    /* sixth */


    .SixSec img.guide {
        position: absolute;
        left: 14%;
        bottom: 15%;
        transform: scaleX(1);
        width: 14vw;
        height: auto;
    }

    .SixSec .position {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
        margin-top: 26%;
        margin-left: 0%;
    }

    .SixSec img.first {
        border-radius: 30px;
        width: 80vw;
        height: 40vw;
        object-fit: cover;
    }

    .SixSec img.sec {
        position: absolute;
        right: 2%;
        top: 12%;
        border-radius: 50%;
        width: 26vw;
        height: 26vw;
        object-fit: cover;
        display: none;

    }

    .SixSec img.third {
        position: absolute;
        right: 5%;
        bottom: 12%;
        border-radius: 30px;
        width: 28vw;
        height: 18vw;
        object-fit: cover;
        display: none;
    }

    .SixSec .TextBox {
        padding-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .SixSec .TextBox h2 {
        font-size: 3.8rem;
    }

    .SixSec .TextBox p {
        font-size: 2rem;
        text-align: center;
    }

    /* seventh */
    .SevenSec {
        display: flex;
        flex-direction: column;
    }

    .SevenSec img.guide {
        position: absolute;
        right: 10%;
        bottom: 20%;
        transform: scaleX(-1);
        width: 14vw;
        height: auto;
    }

    .SevenSec img.first {
        border-radius: 30px;
        width: 90%;
        height: 40vw;
        object-fit: cover;
    }

    .SevenSec .TextBox h2 {
        font-size: 4rem;
    }

    .SevenSec .TextBox p {
        font-size: 2rem;
    }

    .SevenSec .TextBox {
        margin-bottom: 8%;
    }

    /* last */

    .LastSec img.guide {
        width: 20%;
    }

    .LastSec .TextBox h2 {
        font-size: 5rem;
    }

    .LastSec .TextBox p {
        font-size: 2.5rem;
    }

    button.exit {
        scale: 1.2;
    }

    .TextBox p {
        line-height: 160%;
        white-space: wrap;
    }
}

/* 반응형 모바일 iPhone SE (가로)*/
@media screen and (max-width: 932px) and (orientation: landscape) {

    /* first */
    .FirstSec .first_img {
        width: 40vw;
        height: auto;
    }

    .FirstSec h2 {
        font-size: 2rem;
    }

    /* second */
    .SecondSec {
        padding-top: 6%;
    }

    .SecondSec .guidetext {
        width: 110%;
        display: flex;
        gap: 2%;
    }

    .SecondSec .guidetext p {
        font-size: 1rem;
        width: 110%;
    }

    .SecondSec img.first {
        margin-top: 6%;
        border-radius: 10px;
        width: 80vw;
        height: 20vw;
        object-fit: cover;
    }

    /* third */

    .ThirdSec img.first {
        margin-top: 0%;
        margin-left: 3%;
        width: 50vw;
        height: 35vw;
        object-fit: cover;
    }

    .ThirdSec .position {
        margin-bottom: 0%;
        flex-direction: row;
        /* 기본 방향 */
        align-items: center;
        justify-content: center;
    }

    .ThirdSec img.sec {
        position: absolute;
        left: 5%;
        top: 8%;
        border-radius: 50%;
        width: 26vw;
        height: 26vw;
        object-fit: cover;
        display: none;
    }

    .ThirdSec img.third {
        position: absolute;
        right: 3%;
        bottom: 8%;
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        display: none;

    }

    .ThirdSec img.guide {
        margin-bottom: -3%;
        margin-left: 12%;
        width: 10vw;
        height: auto;
        object-fit: cover;
    }

    .ThirdSec .TextBox {
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .ThirdSec .TextBox h2 {
        font-size: 2rem;
    }

    .ThirdSec .TextBox p.p {
        width: 90%;
        font-size: 1rem;
        text-align: center;
    }

    /* fourth */
    .FourthSec {
        padding-bottom: 5%;
    }

    .FourthSec img.guide {
        position: absolute;
        right: 2%;
        bottom: 13%;
        width: 12vw;
        height: auto;
    }

    .FourthSec .position {
        margin-top: 6%;
    }

    .FourthSec .TextBox {
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-bottom: 10%;

    }

    .FourthSec .TextBox h2 {
        font-size: 2rem;
        text-align: left;
    }

    .FourthSec .TextBox p {
        font-size: 1rem;
        text-align: left;
    }

    .FourthSec .position {
        display: flex;
        flex-direction: row;
        /* 기본 방향 */

        align-items: center;
        gap: 6%;

    }

    .FourthSec .left_img {
        position: relative;

    }

    .FourthSec .left_img img.first {
        border-radius: 30px;
        width: 40vw;
        height: 37vw;
        object-fit: cover;
        margin-left: 5%;

    }

    .FourthSec .left_img img.sec {
        position: absolute;
        right: -18%;
        bottom: -3%;
        border-radius: 50%;
        width: 18vw;
        height: 18vw;
        object-fit: cover;
        display: none;
    }

    .FourthSec .right_img {
        display: none;
        position: relative;
        margin-top: 8%;
        margin-left: 5%;
    }

    .FourthSec .right_img img.third {
        border-radius: 30px;
        width: 20vw;
        height: 28vw;
        object-fit: cover;
    }

    .FourthSec .right_img img.fourth {
        position: absolute;
        left: -30%;
        top: -38%;
        border-radius: 50%;
        width: 14vw;
        height: 14vw;
        object-fit: cover;
        margin-top: 10%;
    }

    /* fifth */


    .FifthSec img.guide {
        position: absolute;
        left: 85%;
        bottom: 13%;
        width: 10vw;
        transform: scaleX(-1);
    }

    .FifthSec .TextBox {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 10%;

    }

    .FifthSec .TextBox h2 {
        font-size: 2rem;
    }

    .FifthSec .TextBox p {
        font-size: 1rem;
        text-align: center;
    }

    .FifthSec .position {
        margin-top: 0%;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5%;
        justify-content: center;
        align-items: center;
    }

    .FifthSec .left_img {
        position: relative;
        margin-top: 2%;
    }

    .FifthSec .left_img img.first {
        border-radius: 30px;
        width: 40vw;
        height: 37vw;
        object-fit: cover;
    }

    .FifthSec .left_img img.sec {
        position: absolute;
        right: -8%;
        top: -20%;
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        display: none;

    }

    .FifthSec .right_img {
        display: none;
        position: relative;
        margin-left: 5%;
    }

    .FifthSec .right_img img.third {
        border-radius: 30px;
        width: 20vw;
        height: 24vw;
        object-fit: cover;
    }

    .FifthSec .right_img img.fourth {
        position: absolute;
        left: -30%;
        bottom: 0;
        border-radius: 50%;
        width: 14vw;
        height: 14vw;
        object-fit: cover;
    }

    /* sixth */


    .SixSec img.guide {
        position: absolute;
        left: 85%;
        bottom: 15%;
        transform: scaleX(-1);
        width: 12vw;
        height: auto;
    }

    .SixSec .position {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;
        margin-top: 11%;
        margin-left: 0%;
    }

    .SixSec img.first {
        border-radius: 30px;
        width: 35vw;
        height: 37vw;
        object-fit: cover;
        margin-left: 3%;
    }

    .SixSec img.sec {
        position: absolute;
        right: 2%;
        top: 12%;
        border-radius: 50%;
        width: 26vw;
        height: 26vw;
        object-fit: cover;
        display: none;

    }

    .SixSec img.third {
        position: absolute;
        right: 5%;
        bottom: 12%;
        border-radius: 30px;
        width: 28vw;
        height: 18vw;
        object-fit: cover;
        display: none;
    }

    .SixSec .TextBox {
        padding-top: 0%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 8%;

    }

    .SixSec .TextBox h2 {
        font-size: 2rem;
    }

    .SixSec .TextBox p {
        font-size: 1rem;
        text-align: left;
    }

    /* seventh */
    .SevenSec {
        display: flex;
        flex-direction: row;
        padding-top: 3%;
    }

    .SevenSec img.guide {
        position: absolute;
        right: 3%;
        bottom: 13%;
        transform: scaleX(-1);
        width: 12vw;
        height: auto;
    }

    .SevenSec img.first {
        border-radius: 30px;
        width: 32vw;
        height: 37vw;
        object-fit: cover;
    }

    .SevenSec .TextBox h2 {
        font-size: 2rem;
    }

    .SevenSec .TextBox p {
        font-size: 1rem;
    }

    .SevenSec .TextBox {
        margin-bottom: 8%;
    }

    /* last */

    .LastSec img.guide {
        width: 20%;
    }

    .LastSec .TextBox h2 {
        font-size: 2rem;
    }

    .LastSec .TextBox p {
        font-size: 1.3rem;
    }

    button.exit {
        scale: 1.2;
        font-size: 1rem;
    }

    .TextBox p {
        line-height: 160%;
        white-space: wrap;
    }

    .scroll-hint.n2 {
        scale: 0.8;
    }

    .swiper-pagination-bullet {
        background: #000;
        opacity: 0.5;
        transition: 0.3s;
        width: 10px !important;
        height: 10px !important;
        background-color: #ffa920 !important;
        /* orange-300 */
    }

    .swiper-pagination-bullet {
        background: #000;
        opacity: 0.5;
        transition: 0.3s;
        width: 10px !important;
        height: 10px !important;
        background-color: #ffa920 !important;
        /* orange-300 */
    }
}

@media screen and (max-width:375px) {

    /* first */
    .FirstSec .first_img {
        width: 90vw;
        height: auto;
    }

    .FirstSec h2 {
        margin-top: 5%;
        font-size: 2rem;
    }

    /* second */
    .SecondSec {
        padding-top: 6%;
    }

    .SecondSec .guidetext {
        width: 90%;
        display: flex;
        gap: 2%;
    }

    .SecondSec .guidetext p {
        font-size: 0.8rem;
        width: 100%;
    }

    .SecondSec img.first {
        margin-top: 15%;
        border-radius: 10px;
        width: 90vw;
        height: 60vw;
        object-fit: cover;
    }

    /* third */

    .ThirdSec img.first {
        margin-top: 0%;
        margin-left: 3%;
        width: 90vw;
        height: 50vw;
        object-fit: cover;
    }

    .ThirdSec .position {
        margin-bottom: 0%;
        flex-direction: column;
        /* 기본 방향 */
        align-items: center;
        justify-content: center;
    }

    .ThirdSec img.guide {
        margin-bottom: -10%;
        margin-left: 10%;
        width: 16vw;
        height: auto;
        object-fit: cover;
    }

    .ThirdSec .TextBox {
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ThirdSec .TextBox h2 {
        font-size: 2rem;
    }

    .ThirdSec .TextBox p.p {
        width: 90%;
        font-size: 1rem;
        text-align: center;
    }

    /* fourth */
    .FourthSec {
        padding-bottom: 5%;
    }

    .FourthSec img.guide {
        position: absolute;
        right: 2%;
        bottom: 13%;
        width: 12vw;
        height: auto;
    }

    .FourthSec .position {
        margin-top: 6%;
    }

    .FourthSec .TextBox {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;

    }

    .FourthSec .TextBox h2 {
        font-size: 1.8rem;
        text-align: left;
        text-align: center;
    }

    .FourthSec .TextBox p {
        font-size: 1rem;
        text-align: left;
    }

    .FourthSec .position {
        display: flex;
        flex-direction: column;
        /* 기본 방향 */
        align-items: center;
        gap: 6%;

    }

    .FourthSec .left_img {
        position: relative;

    }

    .FourthSec .left_img img.first {
        border-radius: 30px;
        width: 90vw;
        height: 50vw;
        object-fit: cover;
        margin-left: 0%;

    }


    .FourthSec .right_img {
        display: none;
        position: relative;
        margin-top: 8%;
        margin-left: 5%;
    }


    /* fifth */


    .FifthSec img.guide {
        position: absolute;
        left: 85%;
        bottom: 13%;
        width: 12vw;
        transform: scaleX(-1);
    }

    .FifthSec .TextBox {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 20%;

    }

    .FifthSec .TextBox h2 {
        font-size: 2rem;
    }

    .FifthSec .TextBox p {
        font-size: 1rem;
        text-align: center;
    }

    .FifthSec .position {
        margin-top: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5%;
        justify-content: center;
        align-items: center;
    }

    .FifthSec .left_img {
        position: relative;
        margin-top: 2%;
    }

    .FifthSec .left_img img.first {
        border-radius: 30px;
        width: 90vw;
        height: 50vw;
        object-fit: cover;
    }

    .FifthSec .right_img {
        display: none;
        position: relative;
        margin-left: 5%;
    }

    .FifthSec .right_img img.third {
        border-radius: 30px;
        width: 20vw;
        height: 24vw;
        object-fit: cover;
    }

    .FifthSec .right_img img.fourth {
        position: absolute;
        left: -30%;
        bottom: 0;
        border-radius: 50%;
        width: 14vw;
        height: 14vw;
        object-fit: cover;
    }

    /* sixth */


    .SixSec img.guide {
        position: absolute;
        left: 85%;
        bottom: 15%;
        transform: scaleX(-1);
        width: 12vw;
        height: auto;
    }

    .SixSec .position {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
        margin-top: 35%;
        margin-left: 0%;
    }

    .SixSec img.first {
        border-radius: 30px;
        width: 90vw;
        height: 50vw;
        object-fit: cover;
        margin-left: 0%;
    }


    .SixSec .TextBox {
        padding-top: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 8%;

    }

    .SixSec .TextBox h2 {
        font-size: 2rem;
    }

    .SixSec .TextBox p {
        font-size: 1rem;
        text-align: center;
    }

    /* seventh */
    .SevenSec {
        display: flex;
        flex-direction: column;
        padding-top: 3%;
    }

    .SevenSec img.guide {
        position: absolute;
        right: 3%;
        bottom: 13%;
        transform: scaleX(-1);
        width: 12vw;
        height: auto;
    }

    .SevenSec img.first {
        border-radius: 30px;
        width: 90vw;
        height: 50vw;
        object-fit: cover;
    }

    .SevenSec .TextBox {
        text-align: center;
    }

    .SevenSec .TextBox h2 {
        font-size: 2rem;
    }

    .SevenSec .TextBox p {
        font-size: 1rem;
    }

    .SevenSec .TextBox {
        margin-bottom: 8%;
    }

    /* last */

    .LastSec img.guide {
        width: 20%;
    }

    .LastSec .TextBox h2 {
        font-size: 2rem;
    }

    .LastSec .TextBox p {
        font-size: 1.2rem;
    }

    button.exit {
        scale: 1.2;
        font-size: 1rem;
    }

    .TextBox p {
        line-height: 160%;
        white-space: wrap;
    }

    .scroll-hint.n2 {
        scale: 0.8;
    }

    .swiper-pagination-bullet {
        background: #000;
        opacity: 0.5;
        transition: 0.3s;
        width: 10px !important;
        height: 10px !important;
        background-color: #ffa920 !important;
        /* orange-300 */
    }
}

@media screen and (max-width: 932px) and (orientation: landscape) {}