.Home{
    display: flex;
    gap: 6vw;
    background: #F4EFEA;
    position: relative;
}
@media screen and (max-width: 1500px){
    .Home{
        flex-direction: column;
    }
}
@media screen and (max-width: 390px){
    .Home{
        gap: 0;
    }
}