.NipGuide {
    display: flex;
}
.NipGuide .Header{
    position: fixed;
}
.NipGuide .menu-icon {
    display: none;
}

.NipGuide section.nip_box {
    width: 100%;
    height: auto;
    background: url(../img/nip_bg.png) no-repeat center/cover;
    overflow-x: hidden;
}

.NipGuide .b_txt_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /*     height: 1540px; */

}

.NipGuide .txt_box {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;

}

.NipGuide .txt_box h2 {
    color: #333;
    padding-top: 65px;
    padding-bottom: 35px;
}

.NipGuide .txt_box .p_box {
    border-radius: 100px;
    width: 660px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 72px; */
    background-color: #2B475D;
}

.NipGuide .txt_box .p_box p {
    font-family: 'MaruBuri';
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px;
    width: 620px;
    line-height: 1.5;
    border-radius: 100px;
    border: 1px solid #E2D1AF;
    text-align: center;
    color: #ffff;
    display: flex;
    align-items: center;
    /* 수직 가운데 정렬 */
    justify-content: center;
    /* 수평 가운데 정렬 */


}

.NipGuide .txt_box h3 {
    color: #333;
    padding-top: 60px;
    font-size: 32.00px;
}

.NipGuide .txt_box h3 b {
    font-weight: 300;
}

.NipGuide .txt_box p {
    font-family: 'MaruBuri';
    line-height: 1.4;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #333;
    padding-bottom: 60px;
    padding-top: 15px;
}

.NipGuide .nip_box {
    color: #333;
    background: url(../img/txt_bg.png)no-repeat center/cover;
    width: 863px;
    height: 997px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NipGuide .container {
    width: 570px;
    height: 826px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-family: "Noto Sans KR";
    justify-content: space-around;
    padding-top: 95px;


}

.NipGuide .container article {
    width: 70%;
}

.NipGuide .container .section1 .das {
    width: 90%;
    height: 1px;
    background-image: url(../img/Line.png);
}

.NipGuide .container .section2 .das {
    width: 90%;
    height: 1px;
    background-image: url(../img/Line.png);
}

.NipGuide .container .section3 .das {
    width: 90%;
    height: 1px;
    background-image: url(../img/Line.png);
}



.NipGuide .container strong {
    font-weight: 600;
}

.NipGuide .container h3 {
    padding-bottom: 15px;

}

.NipGuide .container h3 b {
    font-weight: 400;
}

.NipGuide /* .container .section1 {
    width: 420px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NipGuide .container .section2 {
    width: 415px;
    height: 136px;
}

.NipGuide .container .section3 {
    width: 415px;
    height: 110px;
}

.NipGuide .container .section4 {
    width: 505px;
    height: 122px;
}
 */
.NipGuide /* .container .section4 ul li.set {
    text-align: center;
    background: #AFAAAA;
} */

.NipGuide .container .section strong {
    font-weight: 600;
}


.NipGuide .container ul {
    padding-top: 15px;
    line-height: 1.6;
}

.NipGuide .container ul li {
    text-align: left;
    list-style-type: disc;
}

.NipGuide .container ul li.not {
    font-size: 16px;
    list-style: none;

}

/* 1024px 태블릿  */
@media screen and (max-width: 1024px) {
    .NipGuide .container article {
        margin-left: 2vw;
    }

    .NipGuide .gnb {
        width: 1024.00px;
        height: 100.00px;
        position: fixed;
        bottom: 0;
        right: 0;

        /* 꼭 초기화해줘야 하는 값들! */
        top: auto;
        left: auto;
    }

    .NipGuide .nip_box {
        padding-bottom: 128.00px;
    }
}




/* 900 태블릿 */
@media screen and (max-width: 900px) {
    .NipGuide .nip_box {
        width: 95vw;
        height: 105vw;
    }

    .NipGuide .container {
        width: 47vw;
        height: 90vw;
        padding-top: 65px;
    }

    .NipGuide .container article {
        width: 95%;
    }

}

/* 836 태블릿 */
@media screen and (max-width: 836px) {
    .NipGuide .container ul {
        font-size: 16.00px;

    }
}




/* 800 태블릿 */
@media screen and (max-width: 800px) {


    .NipGuide .txt_box h2 {
        font-size: 32px;
    }

    .NipGuide .txt_box .p_box p {
        font-size: 16px;
        width: 60.8vw;
        height: 7vh;
    }

    .NipGuide .txt_box .p_box {
        width: 65vw;
        height: 9vh;
    }

    .NipGuide .txt_box h3 {
        font-size: 25.60px;
    }

    .NipGuide .txt_box p {
        font-size: 18px;
    }


    .NipGuide .nip_box {
        width: 100vw;
        height: 110vw;
    }

    .NipGuide .container {
        width: 60vw;
        height: 90vw;
        padding-top: 65px;
    }

    .NipGuide .container h3 {
        font-size: 20.00px;
    }

    .NipGuide .container ul {
        font-size: 16.00px;

    }

    .NipGuide .container article {
        width: 45vw;
    }

}



/* 760 태블릿 */
@media screen and (max-width: 760px) {
    .NipGuide .container {

        width: 40vw;
        height: 90vw;
    }

    .NipGuide .container ul {

        line-height: 1.4;
    }


}

/* 700 */
@media screen and (max-width: 700px) {
    .NipGuide .container {
        width: 35vw;
        height: 90vw;
    }

    .NipGuide .container ul {
        line-height: 1.4;
    }
}


/* 698 */
@media screen and (max-width: 698px) {
    .NipGuide .container {
        width: 40vw;
        height: 75vw;
    }

}

/* 650 */
@media screen and (max-width: 650px) {


    .NipGuide .txt_box .p_box p {

        font-size: 14.00px;
    }

    .NipGuide .txt_box h3 {
        font-size: 22.40px;
    }

    .NipGuide .nip_box {
        width: 85vw;
        height: 90vw;
    }

    .NipGuide .nip_box {
        width: 100vw;
        height: 110vw;
    }

    .NipGuide .container {
        width: 60vw;
        height: 90vw;
    }


}

/* 630 */
@media screen and (max-width: 630px) {
    .NipGuide .container h3 {
        font-size: 17.60px;
    }

    .NipGuide .container ul {
        font-size: 14.40px;
    }


    .NipGuide .nip_box {
        width: 100vw;
        height: 110vw;
    }

    .NipGuide .container {
        width: 70vw;
        height: 90vw;
    }

}

/* 617 */
@media screen and (max-width: 617px) {
    .NipGuide .txt_box .p_box {
        width: 68vw;
        height: 8.5vh;
    }

    .NipGuide .txt_box .p_box p {
        width: 64vw;
        height: 6vh;
    }

}

/* 570 */
@media screen and (max-width: 570px) {

    .NipGuide .container {

        width: 90%;
        height: 100%;
    }

    .NipGuide .nip_box {
        width: 95vw;
        height: 130vw;
        background-image: url(../img/txt_bg_sm.png);
        background-size: 90% 90%;
    }

}

/* 548 */
@media screen and (max-width: 570px) {
    .NipGuide .txt_box .p_box p {
        font-size: 12.80px;
    }
}




/* 524 모바일일 */
@media screen and (max-width: 524px) {

    .NipGuide .container article {
        width: 68vw;
        margin-left: 4vw;
    }

    .NipGuide .txt_box h2 {
        font-size: 25px;
    }

    .NipGuide .txt_box .p_box {
        width: 90vw;
        height: 9vh;
    }

    .NipGuide .txt_box .p_box p {
        font-size: 13px;
        width: 85vw;
        height: 7vh;
    }

    .NipGuide .txt_box h3 {
        padding-top: 40px;
        font-size: 18px;
    }

    .NipGuide .txt_box p {
        font-size: 16px;
        padding-bottom: 40px
    }

    .NipGuide .nip_box {
        width: 95vw;
        height: 130vw;
        background: url(../img/txt_bg_sm.png)no-repeat center/cover;
    }

    .NipGuide .container {
        padding-top: 40px;
        width: 100vw;
        height: 115vw;

    }

    .NipGuide .container h3 {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .NipGuide .container ul {

        padding-top: 10px;
        font-size: 14px;
        line-height: 1.2;
    }

}




@media screen and (max-width: 400px) {
    .NipGuide .container {

        width: 90vw;
        height: auto;
        /* 글 내용에 맞춰 늘어남 */
        min-height: 30vh;
        /* 최소 높이는 유지 */


    }
}

@media screen and (max-width: 390px) {
    .NipGuide .container article {
        width: 68vw;

    }
}

/* 375 모바일일 */
@media screen and (max-width: 375px) {
    .NipGuide .gnb {
        display: none;
    }

    .NipGuide .menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        position: relative;
        top: 40px;
        right: -145px;

    }

    .NipGuide .container {
        width: 280.00px;
        height: 83.00px;

    }

    .NipGuide .container h3 {
        font-size: 14.40px;
    }

    .NipGuide .container ul {
        font-size: 12.00px;
    }

    .NipGuide .txt_box .p_box p {
        font-size: 12.00px;
        margin-left: 0;
    }

    .NipGuide .txt_box p {
        margin-left: 20px;
        width: 283.86px;
        font-size: 16.00px;
    }

    .txt_box .p_box {}

    .txt_box .p_box p {}

    .NipGuide .container {
        gap: 15px;
    }

    .NipGuide .container article {
        width: 65vw;

    }


}