.Gnb{
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-bottom: 40px;
    border-bottom: 1px dashed #888;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.GnbItem{
    flex: 1;
}


