.GuideBtn {
  width: 80px;
  height: 35px;
  color: #333;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  background: #FFD8E4;
}

.FullScreenGuide {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;
  cursor: pointer;
  background: rgb(0, 0, 0, 0.9);
}

.FullScreenGuide .guideImg {
  background-image: url(../img/guide.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .FullScreenGuide .guideImg {
    background-image: url(../img/guideT.png);
  }
}

@media screen and (min-width: 360px) and (max-width: 430px) {
  .Header .FullScreenGuide {
    right: 70px;
  }

  .FullScreenGuide .guideImg {
    background-image: url(../img/guideM.png);
  }

  .GuideBtn {
    width: 60px;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .Header .FullScreenGuide {
    bottom: 70px;
  }
}