.Header {
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 4px 0px 8px -2px rgba(234, 216, 198, 0.20);
    background: #fff;
    z-index: 1000;
}

.Gnb {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding-bottom: 40px;
    border-bottom: 1px dashed #888;
    /* width: 80%; */
    align-items: center;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    /* padding-bottom: 30px; */
}

.Logo {
    width: 60px;
    height: 60px;
}

.Logo img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1500px) {
    .Header {
        width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        padding-inline: 3vw;
    }

    .Logo {
        display: none;
    }

    .top {
        width: 10%;
    }

    .bottom {
        height: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        flex: 2;
        gap: 0;
    }

    .Profile {
        width: 12%;
        gap: 5px !important;
    }

    .cha_box {
        width: 60px !important;
        height: auto !important;
    }


    .cha_box.member img {
        height: 50px !important;
    }

    .Gnb {
        height: 100%;
        flex-direction: row;
        padding-bottom: 0;
        border-bottom: none;
        flex: 2;
        justify-content: space-evenly;
    }

    .GnbItem {
        width: 50px !important;
        height: 100% !important;
    }

    .GnbItem .submenu {
        top: -95% !important;
        left: -70% !important;
    }
}