.Profile {
    text-align: center;
    font-family: "Noto Sans KR";
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.cha_box {
    width: 75px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    /* background: #ffeaf1; */
    border-radius: 10px;
    padding-block: 6px;
}

.cha_box.guest {
    border: none;
    background: #efefef;

}

.cha_box img {
    height: 40px;
    width: auto;
}

.cha_box.member {
    cursor: pointer;
}

.cha_box.member img {
    height: 60px;
}

.nickname_box {
    width: 80px;
    height: 30px;
    /* padding: 6px 12px; */
    border-radius: 8px;
    border: 2px solid #2E3C43;
    background: #263137;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nickname_box img {
    display: none;
}

.nickname_box span {
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 1500px) {
    .Profile {
        width: 12%;
        gap: 5px;
        flex-direction: row;
    }

    .cha_box {
        width: 60px;
        height: auto;
        padding: 5px;
    }

    .cha_box.guest {
        height: 60px;
    }

    .cha_box.member img {
        height: 50px;
    }

    .nickname_box {
        width: auto;
        height: auto;
        /* padding: 2px; */
        background: none;
        border: none;
    }

    .nickname_box span {
        display: none;
    }

    .nickname_box img {
        display: block;
        width: 32px;
    }

}

@media screen and (min-width: 360px) and (max-width: 430px) {
    .Profile {
        width: 100%;
        flex-direction: column;
        gap: 8px;
    }

    .cha_box.guest {
        width: 50px;
        height: 50px;
        padding: 5px;
    }

    .cha_box.guest img {
        width: 32px;
        height: auto;
    }

    .cha_box.member {
        width: 50px;
        /* height: 60px; */
    }

    .nickname_box {
        width: 60px;
        height: 35px;
    }

    .nickname_box span {
        font-size: 14px;
    }

    .nickname_box img {
        width: 30px;
    }
}