.Profile {
    text-align: center;
    font-family: "Noto Sans KR";
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.cha_box {
    width: 70px;
    /* height: 70px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cha_box img {
    height: 40px;
    width: auto;
}
.cha_box.member{
    cursor: pointer;
} 
.cha_box.member img {
    height: 60px;
}

.nickname_box {
    width: 80px;
    height: 30px;
    /* padding: 6px 12px; */
    border-radius: 8px;
    border: 2px solid #2E3C43;
    background: #263137;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nickname_box span {
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 1500px) {
    .Profile {
        width: 12%;
        gap: 5px;
    }

    .cha_box {
        width: 60px;
        height: auto;
    }


    .cha_box.member img {
        height: 50px;
    }


}

@media screen and (min-width: 360px) and (max-width: 430px) {
    .Profile {
        width: 100%;
    }
      .nickname_box{
        width: 60px;
        height: 35px;
      }
    .nickname_box span{
        font-size: 14px;
    }
}