
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration: none; color: inherit;}
img{vertical-align: top;}
button{
	border: 0;
	cursor: pointer;
}

/* color_style */
:root{
    --main-color: #4A85FA;
    --sub1-color: #123697;
    --sub2-color: #91C0FF;
    --point1-color: #FFA45B;
    --point2-color: #FFD93D;
    --text-main: #333;
    --text-sub: #555;
    --white-color:#fff;
}
/* font_style */
.h1 {
    font-family: "Gapyeong Hanseokbong";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title {
    font-family: "Gapyeong Hanseokbong";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p {
    font-family: 'SunBatang';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sub_p {
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.point_p {
    font-family: 'ShillaCulture';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.comment_1 {
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.comment_2 {
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
